/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --backgroundColor: 255 255 255;
    --backgroundSecondary: 236 248 249;
    /* #0D92F4 13, 146, 244 */
    /* #1746A2 23, 70, 162 */
    /* --primaryColor: 43 52 103; */
    --primaryColor: 23 70 162;
    --secondaryColor: 186 215 233;
    /* --highlightColor: 235 69 95; */
    --highlightColor: 13 146 244;
    --hoverColor: 246 250 185;
    --foregroundPrimary: 99 117 143;
    /* --foregroundPrimary: 43 52 103; */
    /* --foregroundPrimary: 118 113 133; */
    --foregroundSecondary: 2 21 38;
    --borderPrimary: 226 232 240;
  }

  h2 {
    @apply text-xl font-bold tracking-normal text-primaryColor/80;
  }

  input {
    @apply rounded-lg border border-primaryColor/40 px-4 py-2 text-base font-normal placeholder:text-sm placeholder:font-light focus:border-2 focus:outline-none;
  }

  textarea {
    @apply h-20 rounded-lg border border-primaryColor/40 px-4 py-1 text-base font-normal placeholder:text-sm placeholder:font-light focus:border-2 focus:outline-none;
  }

  body {
    background-color: rgb(var(--backgroundColor));
    color: rgb(var(--foregroundPrimary));
  }

  html {
    font-family: "Manrope", sans-serif;
    /* font-family: "Inter", sans-serif; */
  }
  /* .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } */
}

@layer components {
  .translate-ico {
    @apply transition-transform duration-500 group-hover:translate-x-1;
  }
}
/* 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
